In [1]:
import csv

In [29]:
def createProject(name,month):
    projectName=''
    ending='</rdf:RDF>'
    beginning=['<?xml version="1.0"?>\n',
    '<rdf:RDF xmlns="http://www.semanticweb.org/usuario/ontologies/2023/{}/{}#"\n'.format(month,name),
    '     xml:base="http://www.semanticweb.org/usuario/ontologies/2023/{}/{}"\n'.format(month,name),
    '     xmlns:owl="http://www.w3.org/2002/07/owl#"\n',
    '     xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"\n',
    '     xmlns:xml="http://www.w3.org/XML/1998/namespace"\n',
    '     xmlns:xsd="http://www.w3.org/2001/XMLSchema#"\n',
    '     xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"\n',
    '     xmlns:Fitness_Package_Ricardo="http://www.semanticweb.org/usuario/ontologies/2023/{}/{}#">\n'.format(month,name),
    '    <owl:Ontology rdf:about="http://www.semanticweb.org/usuario/ontologies/2023/{}/{}"/>\n'.format(month,name)]
    for row in beginning:
        projectName+=row
    return projectName, ending

In [30]:
def getCsvData(link):
    dataList=[]
    with open(link) as csvFile:
        spamreader = csv.reader(csvFile)
        for row in spamreader:
            dataList.append(row)
    return dataList

In [31]:
def createClasses(data,classes,month,name):
    for item in classes:
        if not isinstance(item, int):
            raise TypeError("List should contain only integers")
    classesDeclaration=[]
    classesName=[]
    for i in classes:
        className=data[i]
        classesName.append(className)
        rdf='<owl:Class rdf:about="http://www.semanticweb.org/usuario/ontologies/2023/{}/{}#{}"/>\n'.format(month,name,className)
        classesDeclaration.append(rdf)
    return classesName, classesDeclaration

In [32]:
def createObjectProperties(month,name,objProperties):
    propertiesList=[]
    for class1, classes2 in objProperties.items():
        for class2, properties in classes2.items():
            newProperty='<owl:ObjectProperty rdf:about="http://www.semanticweb.org/usuario/ontologies/2023/{}/{}#{}"/>\n'.format(month, name, properties)
            propertiesList.append(newProperty)
    return propertiesList

In [33]:
def createDataProperties(month,name,dataProperties,columnNames):
    propertiesList=[]
    
    for class1, properties in dataProperties.items():
        for dataX, rangeX in properties.items():
            value=columnNames[dataX]
            value = value.replace(" ", "_")
            firstL='<owl:DatatypeProperty rdf:about="http://www.semanticweb.org/usuario/ontologies/2023/{}/{}#{}">\n'.format(month,name,value)
            secondL='    <rdfs:range rdf:resource="http://www.w3.org/2001/XMLSchema#{}"/>\n'.format(rangeX)
            thirdL='</owl:DatatypeProperty>\n'
            propertiesList.append(firstL+secondL+thirdL)
    return propertiesList

In [34]:
def createInstances(position, classesNames, toInstance, month, name, dataProperties, objectProperties):
    classNum=0
    instances=[]
    for j in position:
        #get current class
        className=classesNames[classNum]
        for vals in toInstance:
            #get object property
            objProps=[]
            
            for class2, objProp in objectProperties[j].items():
                val=vals[class2]
                val=val.replace(" ", "_")
                objPropDec='       <{} rdf:resource="http://www.semanticweb.org/usuario/ontologies/2023/{}/{}#{}"/>\n'.format(objProp, month,name,val)
                objProps.append(objPropDec)

            
            #get data property
            dataProps=[]
            for class2, dataProp in dataProperties[j].items():
                prop=classesNames[class2]
                prop=prop.replace(" ", "_")
                rang=dataProp
                val=vals[class2]
                val=val.replace(" ", "_")
                dataPropDec='       <{} rdf:datatype="http://www.w3.org/2001/XMLSchema#{}">{}</{}>\n'.format(prop,rang,val,prop)
                dataProps.append(dataPropDec)

                
            #make instance
            instanceName=vals[j]
            instanceName = instanceName.replace(" ", "_")
            instanceList=['   <owl:NamedIndividual rdf:about="http://www.semanticweb.org/usuario/ontologies/2023/{}/{}#{}">\n'.format(month,name,instanceName),
                         '       <rdf:type rdf:resource="http://www.semanticweb.org/usuario/ontologies/2023/{}/{}#{}"/>\n'.format(month,name,className),
                         ]
            instance=''
            for i in instanceList:
                instance+=i
            for i in objProps:
                instance+=i
            for i in dataProps:
                instance+=i
            instance+='   </owl:NamedIndividual>\n'
            instances.append(instance)
        classNum+=1
    return instances

In [35]:
def createDocFile(fileName, declaration):
    with open(fileName, 'w') as f:
        for row in declaration:
            if row is not str:
                for row2 in row:
                    f.write(row2)
                    
                
            else:
                f.write(row)
                f.write('\n')
            f.write('\n')

In [36]:
def get_data_props(val):
    link='datafiles/final.csv'
    data=getCsvData(link)
    cn=data[0]
    dataProperties={'Person':{cn[4]:'string',cn[5]:'integer'},'Company':{cn[6]:'string',cn[7]:'string'},'City':{cn[3]:'float'}}
    return dataProperties[val]

def all_data_props():
    link='datafiles/final.csv'
    data=getCsvData(link)
    cn=data[0]
    dataProperties={cn[4]:'string',cn[5]:'integer',cn[6]:'string',cn[7]:'string',cn[3]:'float'}
    return dataProperties

In [37]:
def main():
    projectName='Proyecto'
    fileName='try1.owl'
    link='datafiles/final.csv'
    month=5
    classesPosition=[0,1,2]
    objProperties={0:{1:'worksAt',2:'livesIn'}, 1:{0:'hasEmployee',2:'situatedAt'},2:{0:'hasCitizen',1:'hasCompany'}}
    dataProperties={0:{4:'string',5:'integer'},1:{6:'string',7:'string'},2:{3:'float'}}
    
    #GET CSV DATA, SPLIT COLUMN NAMES AND INSTANCES 
    data=getCsvData(link)
    columnNames=data[0]
    instancesList=data[1:]
    
    #Create project
    proyectDeclaration, endDeclaration=createProject(projectName, month)
    print('Project Declaration was succesful')
    #Create classes
    classesName, classesDeclaration = createClasses(columnNames,classesPosition,month,projectName)
    print('Class Declaration was succesful')
    
    
    #Create object properties
    objProps=createObjectProperties(month, projectName, objProperties)
    
    #Create data properties
    dataProps=createDataProperties(month, projectName, dataProperties,columnNames)
    
    #Create instances
    instancesDeclaration=createInstances(classesPosition,columnNames, instancesList,month, projectName, dataProperties,objProperties)
    print('Instances Declaration was succesful')
    
    
    #Create docFile
    createDocFile(fileName, [proyectDeclaration,classesDeclaration,objProps,dataProps, instancesDeclaration,endDeclaration])
    print('File Creation was succesful')
    
    print('File Successfully Created')

In [38]:
main()

Project Declaration was succesful
Class Declaration was succesful
Instances Declaration was succesful
File Creation was succesful
File Successfully Created

In [13]:
from owlready2 import *
import owlready2


def reasonerOutput(classSelected):
    # Load the existing ontology from file
    onto = get_ontology("try1.owl").load()

    with onto:
        sync_reasoner()

    # Filter out the instances of the selected class
    class_instances = [i for i in onto.individuals() if i.is_a[0].name == classSelected]

    # Return the name of each instance
    return [i.name for i in class_instances]

In [ ]:
from flask import Flask, request

app = Flask(__name__)

@app.route('/')
def index():
    return '''
        <!DOCTYPE html>
        <html>
        <head>
            <title>Choose Your Class</title>
        </head>
        <body>
            <h1>Choose Your Class</h1>
            <p>Select a class:</p>
            <select id="output" onchange="updateSelectedOutput()">
                <option value="">--Please choose a class--</option>
                <option value="City">City</option>
                <option value="Company">Company</option>
                <option value="Person">Employer</option>
            </select>

            
            
            <form id="myForm"  action="javascript:void(0);">
                <input id='mainClass' type='hidden'></input>
                <input id='mainClass0' type='hidden'></input>
                <input id='mainClass1' type='hidden'></input>
                
                <p id="selectedOutputDataMain" ></p>
                <p id="selectedOutputClass0"></p>
                <p id="selectedOutputDataClass0"></p>
                <p id="selectedOutputClass1"></p>
                <p id="selectedOutputDataClass1"></p>
                
                <button type="submit" onclick="handleSubmit()">Submit</button>
            </form>
            <p id='results'></p>
            
            <script>
                function updateSelectedOutput() {
                
                    var selectedOutput = document.getElementById('output').value;
                    
                    fetch('/update_selected_output?output=' + selectedOutput)
                        .then(response => response.json())
                        .then(data => {
                            
                            
                            
                            var instances0 = data.instances0;
                            var instances1 = data.instances1;
                            var classes= data.classes;
                            var html0 = '<select id="class0" >';
                            html0+='<option value="">Any</option>';
                            for (var i = 0; i < instances0.length; i++) {
                                html0 += '<option value='+ instances0[i] + '>' +instances0[i]+'</option>';

                            }
                            html0+='</select>';
                            
                            
                            var html1 = '<select id="class1" >';
                            html1+='<option value="">Any</option>';
                            for (var i = 0; i < instances1.length; i++) {
                                html1 += '<option value='+ instances1[i] + '>' +instances1[i]+'</option>';

                            }
                            html1+='</select>';
                            document.getElementById('selectedOutputClass0').innerHTML ='';
                            document.getElementById('selectedOutputClass1').innerHTML ='';
                            
                            var ul1 = document.getElementById("ul1");
                            var ul2 = document.getElementById("ul2");
                            
                            
                            if (ul1 != null) {
                                ul1.remove();
                                ul2.remove();
                            }


                            document.getElementById('selectedOutputClass0').innerHTML = 'Please select the properties for ' + classes[1].charAt(0).toUpperCase() + classes[1].slice(1) + ' class. Select for next class:<br><ul id="ul1">' + html0 + '</ul>';
                            document.getElementById('selectedOutputClass1').innerHTML = 'Please select the properties for ' + classes[2].charAt(0).toUpperCase() + classes[2].slice(1) + ' class. Select for next class:<br><ul id="ul2">' + html1 + '</ul>';
                            
                            document.getElementById('selectedOutputDataMain').innerHTML = '';
                            document.getElementById('selectedOutputDataClass0').innerHTML = '';
                            document.getElementById('selectedOutputDataClass1').innerHTML = '';
                            
                            
                            var myForm=document.getElementById('myForm')
                            
                            myForm.innerHTML += `
                              <select id="selectCostOfLiving" style="display:none;">
                                <option value="equals"> Equals - = </option>
                                <option value="higher"> Higher - > </option>
                                <option value="lower"> Lower - < </option>
                              </select>

                              <select id="selectCompensation" style="display:none;">
                                <option value="equals"> Equals - = </option>
                                <option value="higher"> Higher - > </option>
                                <option value="lower"> Lower - < </option>
                              </select>
                            `;
                            
                            var select1= document.getElementById("selectCostOfLiving");
                            var select2= document.getElementById("selectCompensation");
                            
                           
                            
                            
                            document.getElementById('mainClass').value=data.classes[0]
                            document.getElementById('mainClass0').value=data.classes[1]
                            document.getElementById('mainClass1').value=data.classes[2]
                            
                            var dataMain = data.dataPropsMain;
                            var data0 = data.dataProps0;
                            var data1 = data.dataProps1;
        
                            createInputs(dataMain, document.getElementById('selectedOutputDataMain'));
                            createInputs(data0, document.getElementById('selectedOutputDataClass0'));
                            createInputs(data1, document.getElementById('selectedOutputDataClass1'));
                            
                            var dataClassCostOfLiving= document.getElementsByName("Cost_of_Living_Index");
                            var dataClassCompensation= document.getElementsByName("Total_Yearly_Compensation");


                            dataClassCostOfLiving[0].parentNode.appendChild(select1);
                            dataClassCompensation[0].parentNode.appendChild(select2);
                            
                            select1.style.display = "block";
                            select2.style.display = "block";

                            
                        });
                }
                
                function handleSubmit() {
                  // Get the values of the input fields
                  var mainClass = document.getElementById('mainClass').value;
                  var mainClass0 = document.getElementById('mainClass0').value;
                  var mainClass1 = document.getElementById('mainClass1').value;
                  
                  var valuesMain = getFormValues('selectedOutputDataMain');
                  var values0 = getFormValues('selectedOutputDataClass0');
                  var values1 = getFormValues('selectedOutputDataClass1');
                  var costOfLivingValue = getSelectValue('selectCostOfLiving');
                  var compensationValue = getSelectValue('selectCompensation');
                  
                  // Get the values of the selected options from the dropdowns
                  var selectedClass0 = document.getElementById('class0').value;
                  var selectedClass1 = document.getElementById('class1').value;
                  
                  console.log(costOfLivingValue);
                  console.log(compensationValue);
                  
                  var payload = {
                    valuesMain: valuesMain,
                    values0: values0,
                    values1: values1,
                    mainClassName: mainClass,
                    class0Name: mainClass0,
                    class1Name: mainClass1,
                    selectedClass0: selectedClass0,
                    selectedClass1: selectedClass1,
                    compensationValue: compensationValue,
                    costOfLivingValue: costOfLivingValue
                  };

                  // Call your function with the input values and selected options

                  fetch('/update_selected_query', {
                    method: 'POST',
                    headers: {
                      'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(payload)
                  })
                  .then(response => response.json())
                  .then(data => {
                      // Handle the response data
                      document.getElementById('results').innerHTML = data.result;
                    });
                }
                
                function getFormValues(formId) {
                  var inputs = document.querySelectorAll('#' + formId + ' input');
                  var values = {};
                  for (var i = 0; i < inputs.length; i++) {
                    var key = inputs[i].getAttribute('name');
                    var value = inputs[i].value;
                    values[key] = value;
                  }
                  return values;
                }
                
                function getSelectValue(selectId) {
                  var select = document.getElementById(selectId);
                  var value = select.options[select.selectedIndex].value;
                  return value;
                }
                
                
                function createInputs(data, target) {
                  // Iterate over the dictionary data
                  for (var key in data) {
                    // Create a <p> element for each key
                    var p = document.createElement('p');
                    p.innerHTML = key;
                    target.appendChild(p);

                    // Create a <field> element for each value, using the datatype as the input type
                    var input = document.createElement('input');
                    input.type = data[key];
                    input.name = key;
                    target.appendChild(input);
                  }
                }


            </script>
        </body>
        </html>
    '''

@app.route('/update_selected_output')
def update_selected_output():
    others=['City','Company','Person']
    selected_output = request.args.get('output')
    dataMain=get_data_props(selected_output)

    others.remove(selected_output)

    data0=get_data_props(others[0])
    data1=get_data_props(others[1])
    
    instances0=reasonerOutput(others[0])
    instances1=reasonerOutput(others[1])
    return {'instances0': instances0,'instances1':instances1,'dataPropsMain':dataMain,'dataProps0':data0, 'dataProps1':data1,'classes':[selected_output,others[0],others[1]]}


@app.route('/update_selected_query', methods=['POST'])
def update_selected_query():
    classes=['City','Company','Person']
    dataProps=all_data_props()
    values = request.get_json()
    print(values)
    for vals, dataP in values.items():
        if not isinstance(dataP, str):
            for dataProp, val in dataP.items():
                typ=dataProps[dataProp]
                if val != '':
                    if typ == 'string':
                        if not isinstance(val, str):
                            ret='{} should be of type string'.format(dataProp)
                            return {'result':ret}
                    elif typ =='integer':
                        try:
                            val = int(val)
                        except ValueError:
                            pass
                        if not isinstance(val,int):
                            ret='{} should be of type integer'.format(dataProp)
                            return {'result':ret}
                    elif typ =='float':
                        try:
                            val = float(val)
                        except ValueError:
                            pass
                        if not isinstance(val,float):
                            ret='{} should be of type float'.format(dataProp)
                            return {'result':ret}
                else:
                    print('empty')
    listToReturn=getValues(values)
    print(listToReturn)
    return {'result': listToReturn}

from rdflib import Namespace, Graph

def getValues(values):
    # Define the namespaces
    RDF = Namespace("http://www.w3.org/1999/02/22-rdf-syntax-ns#")
    RDFS = Namespace("http://www.w3.org/2000/01/rdf-schema#")
    onto = Namespace("http://www.semanticweb.org/usuario/ontologies/2023/5/Proyecto#")

    # Create a graph and load the ontology
    graph = Graph()
    graph.parse("try1.owl")
    
    # Clean values
    objProperties={'Person':{'Company':'worksAt','City':'livesIn'}, 
                   'Company':{'Person':'hasEmployee','City':'situatedAt'},
                   'City':{'Person':'hasCitizen','Company':'hasCompany'}}
    
    {'valuesMain': {'Cost_of_Living_Index': ''},
     'values0': {'Sector': '', 'Symbol': ''},
     'values1': {'Title': '', 'Total_Yearly_Compensation': ''},
     'mainClassName': 'City',
     'class0Name': 'Company',
     'class1Name': 'Person',
     'selectedClass0': '',
     'selectedClass1': '',
     'compensationValue': '',
     'costOfLivingValue': ''}
    
    returned='?'+values['mainClassName']
    class0='?'+values['class0Name']
    class1='?'+values['class1Name']

    dataPropValues=[]
    dataPropFloat='floatNumber'
    dataPropInt='IntNumber'
    innerQuery=returned+' rdf:type '+'onto:{} .'.format(values['mainClassName'])
    innerQuery+=returned+' onto:{} '.format(objProperties[values['mainClassName']][values['class0Name']])+' {} .'.format(class0)
    innerQuery+=returned+' onto:{} '.format(objProperties[values['mainClassName']][values['class1Name']])+' {} .'.format(class1)
    for vals, dataP in values.items():
        if not isinstance(dataP, str):
            for dataProp, val in dataP.items():
                if val != '':
                    dataPropValues.append(val)
                    if dataProp=='Cost_of_Living_Index':
                        val='Floatnumber'
                    elif dataProp=='Total_Yearly_Compensation':
                        val='Intnumber'
                    if vals=='valuesMain':
                        innerQuery+=returned+' onto:{} '.format(dataProp)+'?{} .'.format(val.capitalize())
                    elif vals=='values0':
                        innerQuery+=class0+' onto:{} '.format(dataProp)+'?{} .'.format(val.capitalize())
                    elif vals=='values1':
                        innerQuery+=class1+' onto:{} '.format(dataProp)+'?{} .'.format(val.capitalize())
        elif isinstance(dataP,str):
            if dataP != '':
                if vals=='selectedClass0':
                    objProp=objProperties[values['mainClassName']][values['class0Name']]
                    innerQuery+=returned+ ' onto:{} '.format(objProp) + 'onto:{} .'.format(dataP)
                elif vals=='selectedClass1':
                    objProp=objProperties[values['mainClassName']][values['class1Name']]
                    innerQuery+=returned+ ' onto:{} '.format(objProp) + 'onto:{} .'.format(dataP)
    filters=''
    print(values)
    print(values['costOfLivingValue'])
    print(values['compensationValue'])
    for val in dataPropValues:
        try:
            val=int(val)
            if values['compensationValue']=='higher':
                filters+=' ?Intnumber > {} &&'.format(val)
            elif values['compensationValue']=='lower':
                filters+=' ?Intnumber < {} &&'.format(val)
            elif values['compensationValue']=='equals':
                val1=val-1
                val2=val+1
                filters+=' ?Intnumber > {} && ?Intnumber < {} &&'.format(str(val1),str(val2))
        except:    
            try:
                val=float(val)
                if values['costOfLivingValue']=='higher':
                    filters+=' ?Floatnumber > {} &&'.format(val)
                elif values['costOfLivingValue']=='lower':
                    filters+=' ?Floatnumber < {} &&'.format(val)
                elif values['costOfLivingValue']=='equals':
                    val1=val-0.01
                    val2=val+0.01
                    filters+=' ?Floatnumber > {} && ?Floatnumber < {} &&'.format(str(val1),str(val2))

                print(filters)
            except:
                filters+=' ?{} = "{}" &&'.format(val.capitalize(),val)
    filters=filters.rstrip('&&')
    print(filters)
    if len(dataPropValues) != 0:
        innerQuery+=' FILTER ({})'.format(filters)
    # Define the SPARQL query
    
    queryList=['SELECT {} '.format(returned),'WHERE {','{}'.format(innerQuery),'}']
    query = ''

    for val in queryList:
        query+=val
    print(query)
    

    # Execute the query and retrieve the results
    results = graph.query(query, initNs={"rdf": RDF, "rdfs": RDFS, "onto": onto})

    # Iterate over the results and print them
    returnedValue=[]
    if results:
        # Iterate over the results and print them
        for row in results:
            print(row[values['mainClassName']].split("#")[1])
            returnedValue.append(row[values['mainClassName']].split("#")[1])
    else:
        print("No results found.")
    return returnedValue
        

if __name__ == '__main__':
    app.run()

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:5000/ (Press CTRL+C to quit)
127.0.0.1 - - [22/Apr/2023 15:13:40] "GET / HTTP/1.1" 200 -
* Owlready2 * Running HermiT...
    java -Xmx2000M -cp C:\Users\Usuario\anaconda3\lib\site-packages\owlready2\hermit;C:\Users\Usuario\anaconda3\lib\site-packages\owlready2\hermit\HermiT.jar org.semanticweb.HermiT.cli.CommandLine -c -O -D -I file:///C:/Users/Usuario/AppData/Local/Temp/tmphj6t74q2
* Owlready2 * HermiT took 1.508953332901001 seconds
* Owlready * (NB: only changes on entities loaded in Python are shown, other changes are done but not listed)
* Owlready2 * Running HermiT...
    java -Xmx2000M -cp C:\Users\Usuario\anaconda3\lib\site-packages\owlready2\hermit;C:\Users\Usuario\anaconda3\lib\site-packages\owlready2\hermit\HermiT.jar org.semanticweb.HermiT.cli.CommandLine -c -O -D -I file:///C:/Users/Usuario/AppData/Local/Temp/tmpa5q4f4sk
* Owlready2 * HermiT took 1.4339830875396729 seconds
* Owlready * (NB: only changes on entities loaded in Python are shown, other changes are done but not listed)
127.0.0.1 - - [22/Apr/2023 15:13:44] "GET /update_selected_output?output=Person HTTP/1.1" 200 -
127.0.0.1 - - [22/Apr/2023 15:13:47] "POST /update_selected_query HTTP/1.1" 200 -

{'valuesMain': {'Title': '', 'Total_Yearly_Compensation': '5'}, 'values0': {'Cost_of_Living_Index': ''}, 'values1': {'Sector': '', 'Symbol': ''}, 'mainClassName': 'Person', 'class0Name': 'City', 'class1Name': 'Company', 'selectedClass0': '', 'selectedClass1': '', 'compensationValue': 'equals', 'costOfLivingValue': 'equals'}
empty
empty
empty
empty
{'valuesMain': {'Title': '', 'Total_Yearly_Compensation': '5'}, 'values0': {'Cost_of_Living_Index': ''}, 'values1': {'Sector': '', 'Symbol': ''}, 'mainClassName': 'Person', 'class0Name': 'City', 'class1Name': 'Company', 'selectedClass0': '', 'selectedClass1': '', 'compensationValue': 'equals', 'costOfLivingValue': 'equals'}
equals
equals
 ?Intnumber > 4 && ?Intnumber < 6
SELECT ?Person WHERE {?Person rdf:type onto:Person .?Person onto:livesIn  ?City .?Person onto:worksAt  ?Company .?Person onto:Total_Yearly_Compensation ?Intnumber . FILTER ( ?Intnumber > 4 && ?Intnumber < 6 )}
No results found.
[]

127.0.0.1 - - [22/Apr/2023 15:13:57] "POST /update_selected_query HTTP/1.1" 200 -

{'valuesMain': {'Title': '', 'Total_Yearly_Compensation': '300000'}, 'values0': {'Cost_of_Living_Index': ''}, 'values1': {'Sector': '', 'Symbol': ''}, 'mainClassName': 'Person', 'class0Name': 'City', 'class1Name': 'Company', 'selectedClass0': '', 'selectedClass1': '', 'compensationValue': 'equals', 'costOfLivingValue': 'equals'}
empty
empty
empty
empty
{'valuesMain': {'Title': '', 'Total_Yearly_Compensation': '300000'}, 'values0': {'Cost_of_Living_Index': ''}, 'values1': {'Sector': '', 'Symbol': ''}, 'mainClassName': 'Person', 'class0Name': 'City', 'class1Name': 'Company', 'selectedClass0': '', 'selectedClass1': '', 'compensationValue': 'equals', 'costOfLivingValue': 'equals'}
equals
equals
 ?Intnumber > 299999 && ?Intnumber < 300001
SELECT ?Person WHERE {?Person rdf:type onto:Person .?Person onto:livesIn  ?City .?Person onto:worksAt  ?Company .?Person onto:Total_Yearly_Compensation ?Intnumber . FILTER ( ?Intnumber > 299999 && ?Intnumber < 300001 )}
7
['7']

127.0.0.1 - - [22/Apr/2023 15:14:02] "POST /update_selected_query HTTP/1.1" 200 -

{'valuesMain': {'Title': '', 'Total_Yearly_Compensation': '300000'}, 'values0': {'Cost_of_Living_Index': ''}, 'values1': {'Sector': '', 'Symbol': ''}, 'mainClassName': 'Person', 'class0Name': 'City', 'class1Name': 'Company', 'selectedClass0': '', 'selectedClass1': '', 'compensationValue': 'higher', 'costOfLivingValue': 'equals'}
empty
empty
empty
empty
{'valuesMain': {'Title': '', 'Total_Yearly_Compensation': '300000'}, 'values0': {'Cost_of_Living_Index': ''}, 'values1': {'Sector': '', 'Symbol': ''}, 'mainClassName': 'Person', 'class0Name': 'City', 'class1Name': 'Company', 'selectedClass0': '', 'selectedClass1': '', 'compensationValue': 'higher', 'costOfLivingValue': 'equals'}
equals
higher
 ?Intnumber > 300000
SELECT ?Person WHERE {?Person rdf:type onto:Person .?Person onto:livesIn  ?City .?Person onto:worksAt  ?Company .?Person onto:Total_Yearly_Compensation ?Intnumber . FILTER ( ?Intnumber > 300000 )}
2
6
12
22
33
34
['2', '6', '12', '22', '33', '34']

127.0.0.1 - - [22/Apr/2023 15:14:05] "POST /update_selected_query HTTP/1.1" 200 -

{'valuesMain': {'Title': '', 'Total_Yearly_Compensation': '300000'}, 'values0': {'Cost_of_Living_Index': ''}, 'values1': {'Sector': '', 'Symbol': ''}, 'mainClassName': 'Person', 'class0Name': 'City', 'class1Name': 'Company', 'selectedClass0': '', 'selectedClass1': '', 'compensationValue': 'lower', 'costOfLivingValue': 'equals'}
empty
empty
empty
empty
{'valuesMain': {'Title': '', 'Total_Yearly_Compensation': '300000'}, 'values0': {'Cost_of_Living_Index': ''}, 'values1': {'Sector': '', 'Symbol': ''}, 'mainClassName': 'Person', 'class0Name': 'City', 'class1Name': 'Company', 'selectedClass0': '', 'selectedClass1': '', 'compensationValue': 'lower', 'costOfLivingValue': 'equals'}
equals
lower
 ?Intnumber < 300000
SELECT ?Person WHERE {?Person rdf:type onto:Person .?Person onto:livesIn  ?City .?Person onto:worksAt  ?Company .?Person onto:Total_Yearly_Compensation ?Intnumber . FILTER ( ?Intnumber < 300000 )}
1
3
4
5
8
9
10
11
13
14
15
16
17
18
19
20
21
23
24
25
26
27
28
29
30
31
32
['1', '3', '4', '5', '8', '9', '10', '11', '13', '14', '15', '16', '17', '18', '19', '20', '21', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32']

127.0.0.1 - - [22/Apr/2023 15:14:09] "POST /update_selected_query HTTP/1.1" 200 -

{'valuesMain': {'Title': '', 'Total_Yearly_Compensation': '300000'}, 'values0': {'Cost_of_Living_Index': ''}, 'values1': {'Sector': '', 'Symbol': ''}, 'mainClassName': 'Person', 'class0Name': 'City', 'class1Name': 'Company', 'selectedClass0': '', 'selectedClass1': '', 'compensationValue': 'equals', 'costOfLivingValue': 'equals'}
empty
empty
empty
empty
{'valuesMain': {'Title': '', 'Total_Yearly_Compensation': '300000'}, 'values0': {'Cost_of_Living_Index': ''}, 'values1': {'Sector': '', 'Symbol': ''}, 'mainClassName': 'Person', 'class0Name': 'City', 'class1Name': 'Company', 'selectedClass0': '', 'selectedClass1': '', 'compensationValue': 'equals', 'costOfLivingValue': 'equals'}
equals
equals
 ?Intnumber > 299999 && ?Intnumber < 300001
SELECT ?Person WHERE {?Person rdf:type onto:Person .?Person onto:livesIn  ?City .?Person onto:worksAt  ?Company .?Person onto:Total_Yearly_Compensation ?Intnumber . FILTER ( ?Intnumber > 299999 && ?Intnumber < 300001 )}
7
['7']

127.0.0.1 - - [22/Apr/2023 15:14:14] "POST /update_selected_query HTTP/1.1" 200 -

{'valuesMain': {'Title': 'Software_Engineer', 'Total_Yearly_Compensation': '300000'}, 'values0': {'Cost_of_Living_Index': ''}, 'values1': {'Sector': '', 'Symbol': ''}, 'mainClassName': 'Person', 'class0Name': 'City', 'class1Name': 'Company', 'selectedClass0': '', 'selectedClass1': '', 'compensationValue': 'equals', 'costOfLivingValue': 'equals'}
empty
empty
empty
{'valuesMain': {'Title': 'Software_Engineer', 'Total_Yearly_Compensation': '300000'}, 'values0': {'Cost_of_Living_Index': ''}, 'values1': {'Sector': '', 'Symbol': ''}, 'mainClassName': 'Person', 'class0Name': 'City', 'class1Name': 'Company', 'selectedClass0': '', 'selectedClass1': '', 'compensationValue': 'equals', 'costOfLivingValue': 'equals'}
equals
equals
 ?Software_engineer = "Software_Engineer" && ?Intnumber > 299999 && ?Intnumber < 300001
SELECT ?Person WHERE {?Person rdf:type onto:Person .?Person onto:livesIn  ?City .?Person onto:worksAt  ?Company .?Person onto:Title ?Software_engineer .?Person onto:Total_Yearly_Compensation ?Intnumber . FILTER ( ?Software_engineer = "Software_Engineer" && ?Intnumber > 299999 && ?Intnumber < 300001 )}
7
['7']

127.0.0.1 - - [22/Apr/2023 15:14:16] "POST /update_selected_query HTTP/1.1" 200 -

{'valuesMain': {'Title': 'Software_Engineer', 'Total_Yearly_Compensation': '300000'}, 'values0': {'Cost_of_Living_Index': ''}, 'values1': {'Sector': '', 'Symbol': ''}, 'mainClassName': 'Person', 'class0Name': 'City', 'class1Name': 'Company', 'selectedClass0': '', 'selectedClass1': '', 'compensationValue': 'equals', 'costOfLivingValue': 'equals'}
empty
empty
empty
{'valuesMain': {'Title': 'Software_Engineer', 'Total_Yearly_Compensation': '300000'}, 'values0': {'Cost_of_Living_Index': ''}, 'values1': {'Sector': '', 'Symbol': ''}, 'mainClassName': 'Person', 'class0Name': 'City', 'class1Name': 'Company', 'selectedClass0': '', 'selectedClass1': '', 'compensationValue': 'equals', 'costOfLivingValue': 'equals'}
equals
equals
 ?Software_engineer = "Software_Engineer" && ?Intnumber > 299999 && ?Intnumber < 300001
SELECT ?Person WHERE {?Person rdf:type onto:Person .?Person onto:livesIn  ?City .?Person onto:worksAt  ?Company .?Person onto:Title ?Software_engineer .?Person onto:Total_Yearly_Compensation ?Intnumber . FILTER ( ?Software_engineer = "Software_Engineer" && ?Intnumber > 299999 && ?Intnumber < 300001 )}
7
['7']

127.0.0.1 - - [22/Apr/2023 15:14:35] "POST /update_selected_query HTTP/1.1" 200 -

{'valuesMain': {'Title': 'Software_Engineer', 'Total_Yearly_Compensation': '150000'}, 'values0': {'Cost_of_Living_Index': ''}, 'values1': {'Sector': '', 'Symbol': ''}, 'mainClassName': 'Person', 'class0Name': 'City', 'class1Name': 'Company', 'selectedClass0': '', 'selectedClass1': '', 'compensationValue': 'higher', 'costOfLivingValue': 'equals'}
empty
empty
empty
{'valuesMain': {'Title': 'Software_Engineer', 'Total_Yearly_Compensation': '150000'}, 'values0': {'Cost_of_Living_Index': ''}, 'values1': {'Sector': '', 'Symbol': ''}, 'mainClassName': 'Person', 'class0Name': 'City', 'class1Name': 'Company', 'selectedClass0': '', 'selectedClass1': '', 'compensationValue': 'higher', 'costOfLivingValue': 'equals'}
equals
higher
 ?Software_engineer = "Software_Engineer" && ?Intnumber > 150000
SELECT ?Person WHERE {?Person rdf:type onto:Person .?Person onto:livesIn  ?City .?Person onto:worksAt  ?Company .?Person onto:Title ?Software_engineer .?Person onto:Total_Yearly_Compensation ?Intnumber . FILTER ( ?Software_engineer = "Software_Engineer" && ?Intnumber > 150000 )}
1
2
4
5
7
13
14
16
17
19
24
25
26
27
29
30
31
34
['1', '2', '4', '5', '7', '13', '14', '16', '17', '19', '24', '25', '26', '27', '29', '30', '31', '34']

127.0.0.1 - - [22/Apr/2023 15:14:40] "POST /update_selected_query HTTP/1.1" 200 -

{'valuesMain': {'Title': 'Software_Engineer', 'Total_Yearly_Compensation': '120000'}, 'values0': {'Cost_of_Living_Index': ''}, 'values1': {'Sector': '', 'Symbol': ''}, 'mainClassName': 'Person', 'class0Name': 'City', 'class1Name': 'Company', 'selectedClass0': '', 'selectedClass1': '', 'compensationValue': 'higher', 'costOfLivingValue': 'equals'}
empty
empty
empty
{'valuesMain': {'Title': 'Software_Engineer', 'Total_Yearly_Compensation': '120000'}, 'values0': {'Cost_of_Living_Index': ''}, 'values1': {'Sector': '', 'Symbol': ''}, 'mainClassName': 'Person', 'class0Name': 'City', 'class1Name': 'Company', 'selectedClass0': '', 'selectedClass1': '', 'compensationValue': 'higher', 'costOfLivingValue': 'equals'}
equals
higher
 ?Software_engineer = "Software_Engineer" && ?Intnumber > 120000
SELECT ?Person WHERE {?Person rdf:type onto:Person .?Person onto:livesIn  ?City .?Person onto:worksAt  ?Company .?Person onto:Title ?Software_engineer .?Person onto:Total_Yearly_Compensation ?Intnumber . FILTER ( ?Software_engineer = "Software_Engineer" && ?Intnumber > 120000 )}
1
2
4
5
7
10
13
14
16
17
19
24
25
26
27
29
30
31
34
['1', '2', '4', '5', '7', '10', '13', '14', '16', '17', '19', '24', '25', '26', '27', '29', '30', '31', '34']

127.0.0.1 - - [22/Apr/2023 15:14:44] "POST /update_selected_query HTTP/1.1" 200 -

{'valuesMain': {'Title': 'Software_Engineer', 'Total_Yearly_Compensation': '120000'}, 'values0': {'Cost_of_Living_Index': ''}, 'values1': {'Sector': '', 'Symbol': ''}, 'mainClassName': 'Person', 'class0Name': 'City', 'class1Name': 'Company', 'selectedClass0': 'Seattle', 'selectedClass1': '', 'compensationValue': 'higher', 'costOfLivingValue': 'equals'}
empty
empty
empty
{'valuesMain': {'Title': 'Software_Engineer', 'Total_Yearly_Compensation': '120000'}, 'values0': {'Cost_of_Living_Index': ''}, 'values1': {'Sector': '', 'Symbol': ''}, 'mainClassName': 'Person', 'class0Name': 'City', 'class1Name': 'Company', 'selectedClass0': 'Seattle', 'selectedClass1': '', 'compensationValue': 'higher', 'costOfLivingValue': 'equals'}
equals
higher
 ?Software_engineer = "Software_Engineer" && ?Intnumber > 120000
SELECT ?Person WHERE {?Person rdf:type onto:Person .?Person onto:livesIn  ?City .?Person onto:worksAt  ?Company .?Person onto:Title ?Software_engineer .?Person onto:Total_Yearly_Compensation ?Intnumber .?Person onto:livesIn onto:Seattle . FILTER ( ?Software_engineer = "Software_Engineer" && ?Intnumber > 120000 )}
2
4
5
7
10
13
14
16
17
19
24
25
26
29
30
31
['2', '4', '5', '7', '10', '13', '14', '16', '17', '19', '24', '25', '26', '29', '30', '31']

127.0.0.1 - - [22/Apr/2023 15:14:54] "POST /update_selected_query HTTP/1.1" 200 -

{'valuesMain': {'Title': 'Software_Engineer', 'Total_Yearly_Compensation': '120000'}, 'values0': {'Cost_of_Living_Index': '85.51'}, 'values1': {'Sector': '', 'Symbol': ''}, 'mainClassName': 'Person', 'class0Name': 'City', 'class1Name': 'Company', 'selectedClass0': 'Seattle', 'selectedClass1': '', 'compensationValue': 'higher', 'costOfLivingValue': 'equals'}
empty
empty
{'valuesMain': {'Title': 'Software_Engineer', 'Total_Yearly_Compensation': '120000'}, 'values0': {'Cost_of_Living_Index': '85.51'}, 'values1': {'Sector': '', 'Symbol': ''}, 'mainClassName': 'Person', 'class0Name': 'City', 'class1Name': 'Company', 'selectedClass0': 'Seattle', 'selectedClass1': '', 'compensationValue': 'higher', 'costOfLivingValue': 'equals'}
equals
higher
 ?Software_engineer = "Software_Engineer" && ?Intnumber > 120000 && ?Floatnumber > 85.5 && ?Floatnumber < 85.52000000000001 &&
 ?Software_engineer = "Software_Engineer" && ?Intnumber > 120000 && ?Floatnumber > 85.5 && ?Floatnumber < 85.52000000000001
SELECT ?Person WHERE {?Person rdf:type onto:Person .?Person onto:livesIn  ?City .?Person onto:worksAt  ?Company .?Person onto:Title ?Software_engineer .?Person onto:Total_Yearly_Compensation ?Intnumber .?City onto:Cost_of_Living_Index ?Floatnumber .?Person onto:livesIn onto:Seattle . FILTER ( ?Software_engineer = "Software_Engineer" && ?Intnumber > 120000 && ?Floatnumber > 85.5 && ?Floatnumber < 85.52000000000001 )}
2
4
5
7
10
13
14
16
17
19
24
25
26
29
30
31
['2', '4', '5', '7', '10', '13', '14', '16', '17', '19', '24', '25', '26', '29', '30', '31']

127.0.0.1 - - [22/Apr/2023 15:14:58] "POST /update_selected_query HTTP/1.1" 200 -

{'valuesMain': {'Title': 'Software_Engineer', 'Total_Yearly_Compensation': '120000'}, 'values0': {'Cost_of_Living_Index': '85.51'}, 'values1': {'Sector': '', 'Symbol': ''}, 'mainClassName': 'Person', 'class0Name': 'City', 'class1Name': 'Company', 'selectedClass0': 'Seattle', 'selectedClass1': 'Amazon', 'compensationValue': 'higher', 'costOfLivingValue': 'equals'}
empty
empty
{'valuesMain': {'Title': 'Software_Engineer', 'Total_Yearly_Compensation': '120000'}, 'values0': {'Cost_of_Living_Index': '85.51'}, 'values1': {'Sector': '', 'Symbol': ''}, 'mainClassName': 'Person', 'class0Name': 'City', 'class1Name': 'Company', 'selectedClass0': 'Seattle', 'selectedClass1': 'Amazon', 'compensationValue': 'higher', 'costOfLivingValue': 'equals'}
equals
higher
 ?Software_engineer = "Software_Engineer" && ?Intnumber > 120000 && ?Floatnumber > 85.5 && ?Floatnumber < 85.52000000000001 &&
 ?Software_engineer = "Software_Engineer" && ?Intnumber > 120000 && ?Floatnumber > 85.5 && ?Floatnumber < 85.52000000000001
SELECT ?Person WHERE {?Person rdf:type onto:Person .?Person onto:livesIn  ?City .?Person onto:worksAt  ?Company .?Person onto:Title ?Software_engineer .?Person onto:Total_Yearly_Compensation ?Intnumber .?City onto:Cost_of_Living_Index ?Floatnumber .?Person onto:livesIn onto:Seattle .?Person onto:worksAt onto:Amazon . FILTER ( ?Software_engineer = "Software_Engineer" && ?Intnumber > 120000 && ?Floatnumber > 85.5 && ?Floatnumber < 85.52000000000001 )}
2
4
5
7
10
13
14
16
17
19
['2', '4', '5', '7', '10', '13', '14', '16', '17', '19']

127.0.0.1 - - [22/Apr/2023 15:15:02] "POST /update_selected_query HTTP/1.1" 200 -

{'valuesMain': {'Title': 'Software_Engineer', 'Total_Yearly_Compensation': '120000'}, 'values0': {'Cost_of_Living_Index': '85.51'}, 'values1': {'Sector': '', 'Symbol': 'AMZN'}, 'mainClassName': 'Person', 'class0Name': 'City', 'class1Name': 'Company', 'selectedClass0': 'Seattle', 'selectedClass1': 'Amazon', 'compensationValue': 'higher', 'costOfLivingValue': 'equals'}
empty
{'valuesMain': {'Title': 'Software_Engineer', 'Total_Yearly_Compensation': '120000'}, 'values0': {'Cost_of_Living_Index': '85.51'}, 'values1': {'Sector': '', 'Symbol': 'AMZN'}, 'mainClassName': 'Person', 'class0Name': 'City', 'class1Name': 'Company', 'selectedClass0': 'Seattle', 'selectedClass1': 'Amazon', 'compensationValue': 'higher', 'costOfLivingValue': 'equals'}
equals
higher
 ?Software_engineer = "Software_Engineer" && ?Intnumber > 120000 && ?Floatnumber > 85.5 && ?Floatnumber < 85.52000000000001 &&
 ?Software_engineer = "Software_Engineer" && ?Intnumber > 120000 && ?Floatnumber > 85.5 && ?Floatnumber < 85.52000000000001 && ?Amzn = "AMZN"
SELECT ?Person WHERE {?Person rdf:type onto:Person .?Person onto:livesIn  ?City .?Person onto:worksAt  ?Company .?Person onto:Title ?Software_engineer .?Person onto:Total_Yearly_Compensation ?Intnumber .?City onto:Cost_of_Living_Index ?Floatnumber .?Company onto:Symbol ?Amzn .?Person onto:livesIn onto:Seattle .?Person onto:worksAt onto:Amazon . FILTER ( ?Software_engineer = "Software_Engineer" && ?Intnumber > 120000 && ?Floatnumber > 85.5 && ?Floatnumber < 85.52000000000001 && ?Amzn = "AMZN" )}
2
4
5
7
10
13
14
16
17
19
['2', '4', '5', '7', '10', '13', '14', '16', '17', '19']
{'valuesMain': {'Title': 'Software_Engineer', 'Total_Yearly_Compensation': '120000'}, 'values0': {'Cost_of_Living_Index': '85.51'}, 'values1': {'Sector': 'Consumer_Discretionary', 'Symbol': 'AMZN'}, 'mainClassName': 'Person', 'class0Name': 'City', 'class1Name': 'Company', 'selectedClass0': 'Seattle', 'selectedClass1': 'Amazon', 'compensationValue': 'higher', 'costOfLivingValue': 'equals'}
{'valuesMain': {'Title': 'Software_Engineer', 'Total_Yearly_Compensation': '120000'}, 'values0': {'Cost_of_Living_Index': '85.51'}, 'values1': {'Sector': 'Consumer_Discretionary', 'Symbol': 'AMZN'}, 'mainClassName': 'Person', 'class0Name': 'City', 'class1Name': 'Company', 'selectedClass0': 'Seattle', 'selectedClass1': 'Amazon', 'compensationValue': 'higher', 'costOfLivingValue': 'equals'}
equals
higher
 ?Software_engineer = "Software_Engineer" && ?Intnumber > 120000 && ?Floatnumber > 85.5 && ?Floatnumber < 85.52000000000001 &&
 ?Software_engineer = "Software_Engineer" && ?Intnumber > 120000 && ?Floatnumber > 85.5 && ?Floatnumber < 85.52000000000001 && ?Consumer_discretionary = "Consumer_Discretionary" && ?Amzn = "AMZN"
SELECT ?Person WHERE {?Person rdf:type onto:Person .?Person onto:livesIn  ?City .?Person onto:worksAt  ?Company .?Person onto:Title ?Software_engineer .?Person onto:Total_Yearly_Compensation ?Intnumber .?City onto:Cost_of_Living_Index ?Floatnumber .?Company onto:Sector ?Consumer_discretionary .?Company onto:Symbol ?Amzn .?Person onto:livesIn onto:Seattle .?Person onto:worksAt onto:Amazon . FILTER ( ?Software_engineer = "Software_Engineer" && ?Intnumber > 120000 && ?Floatnumber > 85.5 && ?Floatnumber < 85.52000000000001 && ?Consumer_discretionary = "Consumer_Discretionary" && ?Amzn = "AMZN" )}

127.0.0.1 - - [22/Apr/2023 15:15:12] "POST /update_selected_query HTTP/1.1" 200 -

2
4
5
7
10
13
14
16
17
19
['2', '4', '5', '7', '10', '13', '14', '16', '17', '19']

127.0.0.1 - - [22/Apr/2023 15:15:14] "POST /update_selected_query HTTP/1.1" 200 -

{'valuesMain': {'Title': 'Software_Engineer', 'Total_Yearly_Compensation': '120000'}, 'values0': {'Cost_of_Living_Index': '85.51'}, 'values1': {'Sector': 'ha', 'Symbol': 'AMZN'}, 'mainClassName': 'Person', 'class0Name': 'City', 'class1Name': 'Company', 'selectedClass0': 'Seattle', 'selectedClass1': 'Amazon', 'compensationValue': 'higher', 'costOfLivingValue': 'equals'}
{'valuesMain': {'Title': 'Software_Engineer', 'Total_Yearly_Compensation': '120000'}, 'values0': {'Cost_of_Living_Index': '85.51'}, 'values1': {'Sector': 'ha', 'Symbol': 'AMZN'}, 'mainClassName': 'Person', 'class0Name': 'City', 'class1Name': 'Company', 'selectedClass0': 'Seattle', 'selectedClass1': 'Amazon', 'compensationValue': 'higher', 'costOfLivingValue': 'equals'}
equals
higher
 ?Software_engineer = "Software_Engineer" && ?Intnumber > 120000 && ?Floatnumber > 85.5 && ?Floatnumber < 85.52000000000001 &&
 ?Software_engineer = "Software_Engineer" && ?Intnumber > 120000 && ?Floatnumber > 85.5 && ?Floatnumber < 85.52000000000001 && ?Ha = "ha" && ?Amzn = "AMZN"
SELECT ?Person WHERE {?Person rdf:type onto:Person .?Person onto:livesIn  ?City .?Person onto:worksAt  ?Company .?Person onto:Title ?Software_engineer .?Person onto:Total_Yearly_Compensation ?Intnumber .?City onto:Cost_of_Living_Index ?Floatnumber .?Company onto:Sector ?Ha .?Company onto:Symbol ?Amzn .?Person onto:livesIn onto:Seattle .?Person onto:worksAt onto:Amazon . FILTER ( ?Software_engineer = "Software_Engineer" && ?Intnumber > 120000 && ?Floatnumber > 85.5 && ?Floatnumber < 85.52000000000001 && ?Ha = "ha" && ?Amzn = "AMZN" )}
No results found.
[]

127.0.0.1 - - [22/Apr/2023 15:15:16] "POST /update_selected_query HTTP/1.1" 200 -

{'valuesMain': {'Title': 'Software_Engineer', 'Total_Yearly_Compensation': '120000'}, 'values0': {'Cost_of_Living_Index': '85.51'}, 'values1': {'Sector': 'Consumer_Discretionary', 'Symbol': 'AMZN'}, 'mainClassName': 'Person', 'class0Name': 'City', 'class1Name': 'Company', 'selectedClass0': 'Seattle', 'selectedClass1': 'Amazon', 'compensationValue': 'higher', 'costOfLivingValue': 'equals'}
{'valuesMain': {'Title': 'Software_Engineer', 'Total_Yearly_Compensation': '120000'}, 'values0': {'Cost_of_Living_Index': '85.51'}, 'values1': {'Sector': 'Consumer_Discretionary', 'Symbol': 'AMZN'}, 'mainClassName': 'Person', 'class0Name': 'City', 'class1Name': 'Company', 'selectedClass0': 'Seattle', 'selectedClass1': 'Amazon', 'compensationValue': 'higher', 'costOfLivingValue': 'equals'}
equals
higher
 ?Software_engineer = "Software_Engineer" && ?Intnumber > 120000 && ?Floatnumber > 85.5 && ?Floatnumber < 85.52000000000001 &&
 ?Software_engineer = "Software_Engineer" && ?Intnumber > 120000 && ?Floatnumber > 85.5 && ?Floatnumber < 85.52000000000001 && ?Consumer_discretionary = "Consumer_Discretionary" && ?Amzn = "AMZN"
SELECT ?Person WHERE {?Person rdf:type onto:Person .?Person onto:livesIn  ?City .?Person onto:worksAt  ?Company .?Person onto:Title ?Software_engineer .?Person onto:Total_Yearly_Compensation ?Intnumber .?City onto:Cost_of_Living_Index ?Floatnumber .?Company onto:Sector ?Consumer_discretionary .?Company onto:Symbol ?Amzn .?Person onto:livesIn onto:Seattle .?Person onto:worksAt onto:Amazon . FILTER ( ?Software_engineer = "Software_Engineer" && ?Intnumber > 120000 && ?Floatnumber > 85.5 && ?Floatnumber < 85.52000000000001 && ?Consumer_discretionary = "Consumer_Discretionary" && ?Amzn = "AMZN" )}
2
4
5
7
10
13
14
16
17
19
['2', '4', '5', '7', '10', '13', '14', '16', '17', '19']

In [40]:

    query = """PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
               PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
               PREFIX onto: <http://www.semanticweb.org/usuario/ontologies/2023/5/Proyecto#>
               SELECT ?person
               WHERE {
                  ?person rdf:type onto:Person .
                  ?person onto:worksAt onto:Amazon .
                  ?person onto:Total_Yearly_Compensation ?comp .
                  FILTER (?comp > 100000) .
               }"""

In [131]:


def getValues2(values):
    # Define the namespaces
    RDF = Namespace("http://www.w3.org/1999/02/22-rdf-syntax-ns#")
    RDFS = Namespace("http://www.w3.org/2000/01/rdf-schema#")
    onto = Namespace("http://www.semanticweb.org/usuario/ontologies/2023/5/Proyecto#")

    # Create a graph and load the ontology
    graph = Graph()
    graph.parse("try1.owl")
    
    query='''
        PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
               PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
               PREFIX onto: <http://www.semanticweb.org/usuario/ontologies/2023/5/Proyecto#>
               SELECT ?person
               WHERE {
                  ?person rdf:type onto:Person .
                  ?person onto:livesIn ?City .
                  ?City onto:Cost_of_Living_Index ?index.
                  FILTER ( ?index < 96.88) .
               }
    '''
    

    # Execute the query and retrieve the results
    results = graph.query(query, initNs={"rdf": RDF, "rdfs": RDFS, "onto": onto})

    # Iterate over the results and print them
    returnedValue=[]
    if results:
        # Iterate over the results and print them
        for row in results:
            print(row.person)
    else:
        print("No results found.")

In [132]:
getValues2('hel')

http://www.semanticweb.org/usuario/ontologies/2023/5/Proyecto#1
http://www.semanticweb.org/usuario/ontologies/2023/5/Proyecto#2
http://www.semanticweb.org/usuario/ontologies/2023/5/Proyecto#3
http://www.semanticweb.org/usuario/ontologies/2023/5/Proyecto#4
http://www.semanticweb.org/usuario/ontologies/2023/5/Proyecto#5
http://www.semanticweb.org/usuario/ontologies/2023/5/Proyecto#6
http://www.semanticweb.org/usuario/ontologies/2023/5/Proyecto#7
http://www.semanticweb.org/usuario/ontologies/2023/5/Proyecto#8
http://www.semanticweb.org/usuario/ontologies/2023/5/Proyecto#9
http://www.semanticweb.org/usuario/ontologies/2023/5/Proyecto#10
http://www.semanticweb.org/usuario/ontologies/2023/5/Proyecto#11
http://www.semanticweb.org/usuario/ontologies/2023/5/Proyecto#12
http://www.semanticweb.org/usuario/ontologies/2023/5/Proyecto#13
http://www.semanticweb.org/usuario/ontologies/2023/5/Proyecto#14
http://www.semanticweb.org/usuario/ontologies/2023/5/Proyecto#15
http://www.semanticweb.org/usuario/ontologies/2023/5/Proyecto#16
http://www.semanticweb.org/usuario/ontologies/2023/5/Proyecto#17
http://www.semanticweb.org/usuario/ontologies/2023/5/Proyecto#18
http://www.semanticweb.org/usuario/ontologies/2023/5/Proyecto#19
http://www.semanticweb.org/usuario/ontologies/2023/5/Proyecto#20
http://www.semanticweb.org/usuario/ontologies/2023/5/Proyecto#21
http://www.semanticweb.org/usuario/ontologies/2023/5/Proyecto#22
http://www.semanticweb.org/usuario/ontologies/2023/5/Proyecto#23
http://www.semanticweb.org/usuario/ontologies/2023/5/Proyecto#24
http://www.semanticweb.org/usuario/ontologies/2023/5/Proyecto#25
http://www.semanticweb.org/usuario/ontologies/2023/5/Proyecto#26
http://www.semanticweb.org/usuario/ontologies/2023/5/Proyecto#27
http://www.semanticweb.org/usuario/ontologies/2023/5/Proyecto#28
http://www.semanticweb.org/usuario/ontologies/2023/5/Proyecto#29
http://www.semanticweb.org/usuario/ontologies/2023/5/Proyecto#30
http://www.semanticweb.org/usuario/ontologies/2023/5/Proyecto#31
http://www.semanticweb.org/usuario/ontologies/2023/5/Proyecto#32
http://www.semanticweb.org/usuario/ontologies/2023/5/Proyecto#33
http://www.semanticweb.org/usuario/ontologies/2023/5/Proyecto#34